pytest>=6.2.5
pytest-order>=1.0.1
pytest-testrail>=2.9.0
selenium==4.9.0
webdriver-manager>=3.8.3
psycopg2>=2.9.3
pytest-failed-screenshot
pyautogui>=0.9.53
openpyxl>=3.1.2
Pillow>=9.5.0
python-docx
pyperclip>=1.8.2
keyboard>=0.13.5
docx2txt==0.8
python-dateutil>=2.8.2
mouse